.experience__item {
  font-size: var(--font_22);
  margin-bottom: var(--spacer_2);
  line-height: 1.3;
}

.experience__list {
  list-style: disc;
  padding-left: var(--spacer_2);
  margin-bottom: var(--spacer_6);
}

@media (max-width: 480px) {
  .experience {
    padding: var(--spacer_3);
  }
}
